﻿@model HabitAqui.Models.Accomodation


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EmployeeToAccomodation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccomodationId" class="control-label"></label>
                <select asp-for="AccomodationId" class="form-control" asp-items="@ViewBag.AccomodationId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Associate Employee" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>