﻿@model List<HabitAqui.Models.Employee>

@{
    ViewData["Title"] = "My Employees";
}

@*<p>
        <a class="btn btn-primary" asp-action="CreateEmployees">Add new Employee</a>
    </p>
*@

<h1>My Employees</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            Employee Id
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(a => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(a => item.ApplicationUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(a => item.ApplicationUser.LastName)
            </td>
            <td>
                @Html.DisplayFor(a => item.ApplicationUser.Email)
            </td>
            <td>
                <div class="row align-items-center">
                    <a class="mx-1 btn btn-primary text-center" asp-action="Details" asp-controller="Employees" asp-route-id="@item.EmployeeId">Details</a>
                    <a class="mx-1 btn btn-danger text-center" asp-action="Delete" asp-controller="Employees" asp-route-id="@item.EmployeeId">Delete</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="container-fluid d-flex align-content-end justify-content-end">
    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/EmployeeRegister">Register Employee</a>
</div>