﻿@model HabitAqui.Models.Booking

@{
    ViewData["Title"] = "Booking";
}

<h1>Booking</h1>
<h4>Accomodation name here</h4>

<hr />
<div class="container-fluid d-flex flex-column">
    <form asp-action="CreateFromDetails">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="AccomodationId" />
        <div class="d-flex flex-row w-50 justify-content-between">
            <div class="form-group">
                <label asp-for="BookingFrom" class="control-label"></label>
                <input asp-for="BookingFrom" class="form-control" />
                <span asp-validation-for="BookingFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingUntil" class="control-label"></label>
                <input asp-for="BookingUntil" class="form-control" />
                <span asp-validation-for="BookingUntil" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Ask To Book" class="btn btn-success mt-5" />
        </div>
    </form>
    
    <div>
        <a class="btn btn-danger w-auto" asp-action="Index">Cancel</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
