﻿@model HabitAqui.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingUntil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingUntil)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accomodation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accomodation.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
