﻿@model IEnumerable<HabitAqui.Models.Booking>

@{
    ViewData["Title"] = "Index";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingUntil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accomodation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingUntil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accomodation.Description)
            </td>
        </tr>
}
    </tbody>
</table>
