﻿@{
    ViewData["Title"] = "the booking system of the future";
}

<div class="text-center">
    <img style="height: 300px;" src="logo.jpg"/>
    <h1 style="font-size: 100px;color : cornflowerblue;" class="h1 mb-0 font-weight-bold">
    HABITAQUI 
    </h1>
    <h4 class="mt-0 h4 font-weight-lighter font-italic">the best booking website in the world</h4>
    <div class="container-fluid my-5">
        <p>With a bigger focus on the user experience, finding a cheap place to spend a couple of days has never been easier.</p>
    </div>
</div>
