﻿@model IEnumerable<HabitAqui.Models.AccomodationRating>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accomodation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accomodation.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AccomodationRatingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AccomodationRatingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AccomodationRatingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
