﻿@model HabitAqui.Models.Accomodation

@{
    ViewData["Title"] = "Add Accommodation";
}

<h1>Add Accommodation</h1>
<hr />

<div class="container-fluid d-flex flex-column">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="d-flex flex-row w-50 justify-content-between my-2">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
        </div>
        <div class="d-flex flex-row w-50 justify-content-between my-2">
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerNight" class="control-label"></label>
                <input asp-for="PricePerNight" class="form-control" />
                <span asp-validation-for="PricePerNight" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex flex-row w-50 justify-content-between my-2">
            <div class="form-group">
                <label asp-for="AvailableFrom" class="control-label"></label>
                <input asp-for="AvailableFrom" class="form-control" />
                <span asp-validation-for="AvailableFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableUntil" class="control-label"></label>
                <input asp-for="AvailableUntil" class="form-control" />
                <span asp-validation-for="AvailableUntil" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Select multiples images</label>
            <br/>
            <input type="file" name="files" multiple required/>
        </div>
        <div class="form-group">
            <input type="submit" value="Add Accommodation" class="btn btn-success mt-5" />
        </div>
    </form>
</div>